body{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(27, 22, 39);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.btn{

    background-color: chartreuse;
    border: 3px red;
    cursor: pointer;
}

.btn:hover{
    background-color:rgb(27, 22, 39) ;


}
.table{
    color: white;
}